@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Balsamiq Sans', cursive;
}

.nav {
  background-color: #333333;
  color: white;
  padding: 1.5rem;
}

.nav-links {
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}