* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: yellow;
  min-height: 50px;
}

.container {
  background-color: lightgreen;
  min-height: 50px;
  width: 70%;
  margin: 0 auto;
}

main {
  background-color: cornflowerblue;
  min-height: 500px;
  width: 70%;
  margin: 0 auto;
}

.main-header {
  background-color: lavender;
  min-height: 100px;
}

.main-container {
  background-color: orange;
  min-height: 500px;
}

.main-nav {
  background-color: hotpink;
  min-height: 50px;
}

.main-content {
  background-color: greenyellow;
  min-height: 450px;
}

.main-menu {
  background-color: lightblue;
  min-height: 50px;
  flex: 3;
}

.social-menu {
  background-color: goldenrod;
  min-height: 50px;
  flex: 1;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  background-color: navy;
  min-height: 450px;
  flex: 2;
}

.aside {
  background-color: pink;
  min-height: 450px;
  flex: 1;
}


/* .box {
  width: 500px;
  min-height: 500px;
  background-color: blue;
  padding: 20px;
  border: 5px solid black;
} */